@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
    font-size: 500%;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20%;
    margin-bottom: 20%;
    color: white;
    margin-right: 10%;
    margin-left: 10%;
}

.caja1 {
    background-image: url(../images/angel-jimenez.jpg);
    background-size: cover;
    padding: 0.111111%;

}

.clear {
    clear: both;
}

.caja2 {
    background-color: white;
    background-size: cover;
    padding: 2%;
}

.caja3 {
    float: left;
    margin: 0%;
    padding: 0 auto;
    width: 35%;
    margin-left: 11%;
    margin-top: 2%;
    font-size: 60%;
}

.h21{
    margin-top: 100%;
    background: linear-gradient(45deg,rgb(239, 55, 68), rgb(128, 0, 85));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.caja3 h2{
    margin: 0%;
    font-size: 400%;
}
.caja3 p{
    font-size: 100%;
}

.caja4 {
    width: 40%;
    float: left;
    margin: 0%;
    margin-left: 0%;
    padding: 0%;

}

.caja4 img{
    margin: 0%;
    margin-bottom: 10%;
    width: 100%;
    margin-left: 29%;
}

.boton{
    background-color: rgb(239, 55, 68) ;
    border: 1px solid red;
    border-radius: 30px;
    width: 20%;
    margin-left: 5%;
    margin-top: 5%;
    padding: 2%;
    padding-left: 5%;
    padding-right: 3%;

}

.boton p {
    color: white;
}

.caja5 {
    background-color: white;
    background-size: cover;
    padding-right: 4%;
}

.caja6 {
    width: 40%;
    float: left;
    margin: 0%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0%;
}

.caja6 img{
    margin: 0%;
    margin-bottom: 10%;
    width: 100%; 
}


.caja7 {
    float: left;
    margin: 0%;
    padding: 0 auto;
    width: 35%;
    margin-left: 3%;
    margin-top: 2%;
    font-size: 60%;
}

.caja7 h2{
    margin: 0%;
    font-size: 400%;
}
.caja7 p{
    font-size: 100%;
}

.caja8{
    background-image: url(../images/john-raptis.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.caja9{
    float: right;
    margin: 1%;
    padding: 0;
    width: 38%;
    margin-top: 10%;
    margin-right: 8%;
    font-size: 50%;
}

.caja9 h2{

    color: white;
    font-size: 400%;

}

.caja9 p{
    color: white;
    font-size: 150%;
}

.boton1{
    background-color: rgb(239, 55, 68) ;
    border: 1px solid red;
    border-radius: 30px;
    width: 20%;
    margin-left: 3%;
    margin-top: 3%;
    padding: 2%;
    padding-left: 3%;
    padding-right: 0%;
}

.boton1 p{
    color: white;
}

.boton2 {
    background-color: rgb(239, 55, 68) ;
    border: 1px solid red;
    border-radius: 30px;
    width: 15%;
    margin-left: 3%;
    margin-top: 3%;
    padding: 2%;
    padding-left: 3%;
    padding-right: 2%;
}

.boton2 p{
    color: white;
    font-size: 100%;
}

.caja10 {
    background-color: rgb(239, 55, 68) ;
    border: 1px solid red;
    width: 79.8%;
    padding: 5%;
    padding-left: 15%;
    font-size: 50%;

}

.caja11 {
    float: left;
    margin: 0%;
    margin-left: 5%;
    margin-right: 10%;
}

.caja12 {
    float: left;
    margin: 0%;
    margin-right: 10%;

}

.caja13 {
    float: left;
    margin: 0%;
    margin-right: 10%;
}

.caja14 {
    float: left;
    margin: 0%;
    margin-right: 10%;

}

.caja10 p {
    color: white;
    font-size: 112%;
}

.caja15{
    margin-right: 8%;
    margin-top: 24%;
    border-top: 2px solid white;
}
@media screen and (max-width: 576px){

    h1 {
        font-size: 300%;
    }

    .caja2 {
        width: 100%;
        margin: 0%;
    }

    .caja3 {
        font-size: 50%;
    }

    .caja3 p{
        font-size: 110%;
    }

    .caja3 h2{
        font-size: 240%
    }

    .caja4 {
        width: 40%;
        margin-top: 5%;
    }

    .caja5 {
        font-size: 50%;
    }

    .caja5 p {
        font-size: 180%;
    }

    .caja6 {
        width: 40%;
        margin-top: 8%;
    }

    .boton{
        width: 35%;
        margin-left: 25%;
    }

    .boton1{
        width: 38%;
        margin-left: 25%;
    }

    .boton2{
        width: 30%;
        margin-left: 25%;
    }

    .caja8 {
        width: 110%;
    }

    .caja9{
        width: 50%;
        font-size: 40%;
        margin-top: 20%;
        height: 0%;
    }

    .caja10{
        width: 110%;
        font-size: 42%;
        padding: 0%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

}


